*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body{
    text-align: center;
    margin: 0;
    color: white;
    min-height: 200vh;
}

.box{
    border: 6px solid white;
    transition: 0.25 ease;
    background: grey;
    padding: 10px;
}

p{
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;
    opacity: 0;
    transition: 0.6s;
}

/* changer style au click */
.question-clicked{
    background: blanchedalmond;
    border-radius: 30px;
    border: 6px solid pink;
}

/* faire apparaitre la reponse */

.show-response{
    visibility: visible;
    opacity: 1;
}

.mousemove{
    height: 50px;
    width: 50px;
    border: 2px solid pink;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50px;

}

nav{
    background:black;
    position: fixed;
    width: 100%;
    height: 50px;
    top: -50px;
}

nav::after{
    content:""; 
    height: 150px;
    width: 150px;
    background: radial-gradient(
        circle closest-side, 
        white,
        transparent  
    );
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.1s;
    z-index: 20;
    opacity: 0;
    left: var(--x);
    top: var(--y);
}

nav:hover::after{
    opacity: 1;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}